<%- include("./partials/header") -%>
    <%- include("./partials/navbar") -%>

        <div class="container mt-5">
            <h3 class="my-3">Compose your blog here</h3>
            <form action="/compose" method="post">
                <input type="text" name="title" placeholder="Enter Title" class="form-control" required>
                <textarea name="content" id="" cols="30" rows="10" class="form-control mt-3"
                    placeholder="Enter content here" required></textarea>
                <p>Select an image</p>
                <input type="file" name="image" id="" accept="image/*">
                <br>
                <input type="submit" value="Compose" class="btn btn-md btn-danger mt-3">

            </form>
        </div>


        <%- include("./partials/footer") -%>